.showcase {
  transition: transform 0.1s ease-out;
  transform-style: preserve-3d;
  perspective: 1000px;
  --stripe1-colour: rgb(15, 15, 15);
  --stripe2-colour: rgb(20, 20, 20);
  background: repeating-linear-gradient(
    135deg,
    var(--stripe1-colour),
    var(--stripe1-colour) 10px,
    var(--stripe2-colour) 10px,
    var(--stripe2-colour) 20px
  );
}

@media (prefers-color-scheme: light) {
  .showcase {
    /* 255 -15 */
    --stripe1-colour: rgb(240, 240, 240);
    /* 255 - 20 */
    --stripe2-colour: rgb(235, 235, 235);
  }
}

.showcase:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

/* .demo-link:not([href]) {
  display: none;
} */

.showcase img {
  transition: transform 0.1s ease-out;
  transform-style: preserve-3d;
  display: grid;
  place-items: center;
  color: var(--text-colour);
  font-size: 2rem;
  background-color: #454448;
  background-image: url("/Topography.svg");
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: cover;
}

.showcase:hover img {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.showcase:hover a,
.showcase:hover p,
.showcase:hover {
  transform: scale(1.02);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.showcase:hover .demo-link {
  box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.3);
}
/* .showcase:hover .tags {
  transform: scale(1.03);
} */
.showcase a {
  display: inline-block;
}
.showcase p {
  color: var(--text-colour-main);
}

.showcase a:hover {
  color: var(--accent-colour);
}

@media (prefers-reduced-motion: reduce) {
  .showcase:hover {
    box-shadow: none;
  }
  .showcase:hover img,
  .showcase:hover a,
  .showcase:hover p,
  .showcase:hover .tag {
    box-shadow: none;
    transform: none;
    text-shadow: none;
  }
}

.tag {
  --tag-colour: var(--text-colour);
  --tag-background: rgb(from var(--tag-colour) r g b / 0.2);
  color: var(--tag-colour);
  background-color: var(--tag-background);

  border: 1px solid;
  text-align: center;
  line-height: 12px;
}
.template:hover .tag {
  box-shadow: 0 10px 20px var(--tag-background);
}
.JavaScript {
  --tag-colour: #f7df1d;
}
.HTML {
  --tag-colour: #e34c26;
}
.CSS {
  --tag-colour: rebeccapurple;
}
.Tailwind {
  --tag-colour: #00bcff;
}
.Vue {
  --tag-colour: #15ca82;
}
.React {
  --tag-colour: #58c4dc;
}
.Svelte {
  --tag-colour: #ff3a00;
}
.Angular {
  --tag-colour: #ea1738;
}

/* for low contrast issues */
@media (prefers-color-scheme: light) {
  .JavaScript,
  .Vue,
  .React {
    --tag-background: #ffffff;
  }
}
