.rainbow-line {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1px;

  z-index: 20;
  background-image: var(--rainbow);
  background-size: 400%;
  animation: rainbow-animation 100s infinite;
}
