.project {
  transition: transform 0.1s ease-out;
  transform-style: preserve-3d;
  perspective: 1000px;
  --stripe1-colour: rgb(15, 15, 15);
  --stripe2-colour: rgb(20, 20, 20);
  background: repeating-linear-gradient(
    135deg,
    var(--stripe1-colour),
    var(--stripe1-colour) 10px,
    var(--stripe2-colour) 10px,
    var(--stripe2-colour) 20px
  );
}

@media (prefers-color-scheme: light) {
  .project {
    /* 255 -15 */
    --stripe1-colour: rgb(240, 240, 240);
    /* 255 - 20 */
    --stripe2-colour: rgb(235, 235, 235);
  }
}

.project:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.project img {
  transition: transform 0.1s ease-out;
  transform-style: preserve-3d;
  display: grid;
  place-items: center;
  color: var(--text-colour);
  font-size: 2rem;
  background-color: #454448;
  background-image: url("/Topography.svg");
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: cover;
}

.project:hover img {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.project:hover a,
.project:hover p {
  transform: scale(1.02);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.project:hover .demo-link {
  box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.3);
}
.project a {
  display: inline-block;
}
.project p {
  color: var(--text-colour-main);
}

.project a:hover {
  color: var(--accent-colour);
}

.demo-link:not([href]) {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .dots {
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
  }
  .dots:nth-child(1) {
    animation-delay: 0;
  }
  .dots:nth-child(2) {
    animation-delay: 0.2s;
  }
  .dots:nth-child(3) {
    animation-delay: 0.4s;
  }
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .project:hover {
    box-shadow: none;
  }
  .project:hover img,
  .project:hover a,
  .project:hover p {
    box-shadow: none;
    transform: none;
    text-shadow: none;
  }
}
