.template {
  transition: transform 0.1s ease-out;
  transform-style: preserve-3d;
  perspective: 1000px;
  --stripe1-colour: rgb(15, 15, 15);
  --stripe2-colour: rgb(20, 20, 20);
  background: repeating-linear-gradient(
    135deg,
    var(--stripe1-colour),
    var(--stripe1-colour) 10px,
    var(--stripe2-colour) 10px,
    var(--stripe2-colour) 20px
  );
}

@media (prefers-color-scheme: light) {
  .template {
    /* 255 -15 */
    --stripe1-colour: rgb(240, 240, 240);
    /* 255 - 20 */
    --stripe2-colour: rgb(235, 235, 235);
  }
}

.template:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.demo-link:not([href]) {
  display: none;
}

.template img {
  transition: transform 0.1s ease-out;
  transform-style: preserve-3d;
  display: grid;
  place-items: center;
  color: var(--text-colour);
  font-size: 2rem;
  background-color: #454448;
  background-image: url("/Topography.svg");
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: cover;
}

.template:hover img {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.template:hover a,
.template:hover p,
.template:hover {
  transform: scale(1.02);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.template:hover .tags {
  transform: scale(1.03);
}
.template a {
  display: inline-block;
}
.template p {
  color: var(--text-colour-main);
}

.template a:hover {
  color: var(--accent-colour);
}

.tag {
  --tag-colour: var(--text-colour);
  --tag-background: rgb(from var(--tag-colour) r g b / 0.2);
  color: var(--tag-colour);
  background-color: var(--tag-background);

  border: 1px solid;
  text-align: center;
  line-height: 12px;
}
.template:hover .tag {
  box-shadow: 0 10px 20px var(--tag-background);
}
.JavaScript {
  --tag-colour: #f7df1d;
}
.HTML {
  --tag-colour: #e34c26;
}
.CSS {
  /* rebeccapurple is the colour of the css logo*/
  --tag-colour: rebeccapurple;
}
.Vue {
  --tag-colour: #15ca82;
}
.React {
  --tag-colour: #58c4dc;
}
.Svelt {
  --tag-colour: #ff3a00;
}
.Angular {
  --tag-colour: #ea1738;
}
/* .JavaScript {
  --JavaScript: #f7df1d;
  --JavaScript-bg: rgb(from var(--JavaScript) r g b / 0.2);
  color: var(--JavaScript);
  background-color: var(--JavaScript-bg);
}
.template:hover .JavaScript {
  box-shadow: 0 10px 20px var(--JavaScript-bg);
} */
/* .HTML {
  --HTML: #e34c26;
  --HTML-bg: rgb(from var(--HTML) r g b / 0.2);
  color: var(--HTML);
  background-color: var(--HTML-bg);
}
.template:hover .HTML {
  box-shadow: 0 10px 20px var(--HTML-bg);
} */

/* .CSS { */
/* rebeccapurple is the colour of the css logo*/
/* --CSS: rebeccapurple;
  --CSS-bg: rgb(from var(--CSS) r g b / 0.2);
  color: var(--CSS);
  background-color: var(--CSS-bg);
}
.template:hover .CSS {
  box-shadow: 0 10px 20px var(--CSS-bg);
} */
/* .Vue {
  --Vue: #15ca82;
  --Vue-bg: rgb(from var(--Vue) r g b / 0.2);
  color: var(--Vue);
  background-color: var(--Vue-bg);
}
.template:hover .Vue {
  box-shadow: 0 10px 20px var(--Vue-bg);
} */
/* .React {
  --React: #58c4dc;
  --React-bg: rgb(from var(--React) r g b / 0.2);
  color: var(--React);
  background-color: var(--React-bg);
}
.template:hover .React {
  box-shadow: 0 10px 20px var(--React-bg);
} */
/* .Svelt {
  --Svelt: #ff3a00;
  --Svelt-bg: rgb(from var(--Svelt) r g b / 0.2);
  color: var(--Svelt);
  background-color: var(--Svelt-bg);
}
.template:hover .Svelt {
  box-shadow: 0 10px 20px var(--Svelt-bg);
} */
/* .Angular {
  --Angular: #ea1738;
  --Angular-bg: rgb(from var(--Angular) r g b / 0.2);
  color: var(--Angular);
  background-color: var(--Angular-bg);
}
.template:hover .Angular {
  box-shadow: 0 10px 20px var(--Angular-bg);
} */

@media (prefers-reduced-motion: reduce) {
  .template:hover {
    box-shadow: none;
  }
  .template:hover img,
  .template:hover a,
  .template:hover p,
  .template:hover .tag {
    box-shadow: none;
    transform: none;
    text-shadow: none;
  }
}
