:root {
  --red: 255, 0, 0;
}
.socials-container {
  border: 1px solid var(--border_colour);
  background-color: var(--background-colour_transparent);
  backdrop-filter: blur(4px);
}

.socials-container ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  fill: var(--text-colour);
}
svg:hover {
  fill: var(--accent-colour);
  filter: drop-shadow(0 0 4px var(--accent-colour));
}

@media (prefers-reduced-motion: no-preference) {
  svg {
    transition: filter 0.2s, fill 0.2s;
  }
}
