:root {
  --red: 255, 0, 0;
}
.socials-container {
  box-shadow: 0 0 32px 0 #7171715e;
}

.cat-container,
.socials-icon-container {
  height: 3.5rem;
}

.socials-icon svg,
.cat-container svg {
  fill: black;
  /* fill: var(--text-colour); */
}
@media (prefers-color-scheme: light) {
  .socials-icon svg,
  .cat-container svg {
    fill: white;
  }
}
.socials-icon svg:hover,
.cat-container svg:hover {
  fill: var(--accent-colour);
  filter: drop-shadow(0 0 4px var(--accent-colour));
}

.socials-icon[aria-label="Indeed logo"] {
  padding: 0.33rem;
}
/* @media (prefers-reduced-motion: no-preference) {
  svg {
    transition: filter 0.2s, fill 0.2s;
  }
} */

@media (max-width: 630px) {
  .cat-container,
  .socials-icon-container {
    max-height: 3rem;
  }
}
@media (max-width: 400px) {
  .cat-container,
  .socials-icon-container {
    max-height: 2.5rem;
  }
  .socials-container {
    padding: 0;
  }
}
