.gird-background .name {
  /* font-family: 'Roboto mono'; */
  font-family: 'Qwitcher Grypen';
  font-size: 10rem;
  color: transparent;
  background-image: var(--rainbow);
  background-size: 400%;
  background-clip: text;
  color: transparent;

  /* bottom of the g gets cut off if lower */
  line-height: 1.1;
  letter-spacing: 0.35rem;

  animation: rainbow-animation 100s infinite;
}

/* Disable animation when reduced motion is preferred */
@media (prefers-reduced-motion: reduce) {
  .gird-background .name {
    animation: none;
    /* background-image: var(--accent-colour);
    background-clip: text; */
  }
}

/* .gird-background .name:not(:hover)::selection {
  background-color: transparent;
  color: transparent;
} */
/* .gird-background .name::selection {
  background-color: transparent;
} */
/* .gird-background .name:hover {
  background-clip: unset;
  color: var(--background-colour);
} */
/* main {
  background-color: black;
} */
.text-container {
  width: 100%;
  min-width: 340px;
  max-width: 1000px;
  margin-inline: 10%;
  padding: 2rem;
}
@media (prefers-color-scheme: light) {
  main {
    background: linear-gradient(180deg, #f5f5f4, #fff);
  }
}

/* name */
@media (max-width: 750px) {
  .gird-background .name {
    font-size: 8rem;
  }
  .text-container {
    padding: 1.8rem;
  }
}
@media (max-width: 630px) {
  .gird-background .name {
    font-size: 6rem;
  }
  .text-container {
    padding: 1.5rem;
  }
}
@media (max-width: 480px) {
  .gird-background .name {
    font-size: 5rem;
  }
  .text-container {
    padding: 1rem;
  }
}
@media (max-width: 400px) {
  .gird-background .name {
    font-size: 4rem;
  }
  .text-container {
    padding: 0.8rem;
  }
}
