@import 'tailwindcss';

:root {
  --main-font: 'Space Grotesk';
  font-family: var(--main-font), system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-colour);
  background-color: var(--background-colour);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --rainbow: linear-gradient(
    to left,
    #fef26a,
    #fe8462,
    #ff70cb,
    #d270ff,
    #743ad5,
    #709df8,
    #5bffbd,
    #709df8,
    #743ad5,
    #d270ff,
    #ff70cb,
    #fe8462,
    #fef26a
  );
}

:root {
  --background-colour: rgb(11, 11, 11);
  --background-colour_transparent: rgba(11, 11, 11, 0.4);
  --border-colour: #262626;
  --text-colour: rgb(233, 221, 208);
  --text-colour-main: rgb(196, 182, 167);
  --accent-colour: #ff70cb;
}
/* lightmode */
@media (prefers-color-scheme: light) {
  :root {
    --background-colour: rgb(255, 255, 255);
    --background-colour_transparent: rgba(255, 255, 255, 0.4);
    --border-colour: #e4e4e7;
    --text-colour: rgb(11, 11, 11);
    --text-colour-main: rgb(31, 31, 31);
  }
}

* {
  box-sizing: border-box !important;
}
*::selection {
  color: var(--background-colour);
  background-color: var(--accent-colour);
}
html,
body {
  overflow-x: hidden;
}

body {
  min-width: 358px !important;
}

@keyframes rainbow-animation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
